<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/static/images/favicon.png" type="">

  <title> Finexo </title>

  <!-- Locomotive Scroll CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/locomotive-scroll/4.1.4/locomotive-scroll.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="/static/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />

</head>

<body>

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="/static/images/hero-bg.png" alt="alt image">
      </div>
    </div>

    <!-- header section starts -->
<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <span>
          Finexo
        </span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""> </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">

          <!--using request.path method for activating url classes-->
          <li class="nav-item {% if request.path == '/' %} active {% endif %}">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item  {% if request.path == '/about1/' %} active {% endif %}">
            <a class="nav-link" href="{% url 'about1' %}">About</a>
          </li>
          <li class="nav-item  {% if request.path == '/service1/' %} active {% endif %}">
            <a class="nav-link" href="{% url 'service1' %}">Services</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact1' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup1/"> <i class="fa fa-user" aria-hidden="true"></i> SignUp</a>
          </li>
       
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- end header section -->