{% extends "base.html" %}
{% block content %}


 

  <!-- Locomotive Scroll CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/locomotive-scroll/4.1.4/locomotive-scroll.min.css" />

<marquee onmouseover="stop()" onmouseout="start()" style="color:white">
  {% for news in newsdata %}
  <a href="/newsdetail1/{{news.id}}">{{news.news_title}} </a>&nbsp &nbsp &nbsp 
  {% endfor %}
</marquee>
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Unlock Your<br> Digital Potential
                    </h1>
                    <p>
                      Transform your ideas into reality with cutting-edge software solutions tailored to your needs. From custom applications to scalable platforms.
                    </p>
                    <div class="btn-box">
                      <a href="/services1/" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="/static/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Innovative Solutions <br>for Tomorrow
                    </h1>
                    <p>
                      Stay ahead of the curve with our forward-thinking software services. We specialize in solutions that drive efficiency for your business.</p>
                    <div class="btn-box">
                      <a href="/services1/" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="/static/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Seamless<br> Technology Integration
                    </h1>
                    <p>
                      Integrate the latest technologies effortlessly into your operations. Our expert team ensures smooth implementation.</p>
                    <div class="btn-box">
                      <a href="/services1/" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="/static/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Services</span>
          </h2>
          <p>
            Transforming your vision into innovative software solutions with Finexo's expert development services.  </p>
        </div>
        <div class="row">
          {% for n in servicesdata %}
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="/static/images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {{n.service_title}}
                </h5>
                <p>
                  {{n.service_desc | safe }}
                </p>
                
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="btn-box">
          <a href="/service1/">
            View All
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          About <span>Us</span>
        </h2>
        <p>
          Discover our journey and the team behind Finexo’s innovative solutions.  </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              We Are Finexo
            </h3>
            <p>
              At Finexo, we pride ourselves on being at the forefront of IT innovation, delivering a comprehensive suite of services designed to meet the diverse needs of our clients. Our expertise spans across software development, web and mobile applications, system integration, and IT consulting. With a commitment to excellence and a passion for technology, we tailor our solutions to drive efficiency, enhance user experiences, and foster growth for businesses of all sizes. Our dedicated team of professionals brings a wealth of knowledge and a collaborative approach to every project, ensuring that we not only meet but exceed your expectations.
            </p>
            <p>
              From software development to consulting, designed to drive innovation and efficiency for your business. Our expert team delivers tailored solutions that enhance performance and support your growth.
            </p>
            <a href="/about1/">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->


  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          What says our <span>Customers</span>
        </h2>
      </div>
      <div class="carousel-wrap ">
        <div class="owl-carousel client_owl-carousel">
          {% for n in testimonialdata %}
          <div class="item">
            <div class="box">
              {% comment %} <div class="img-box">
                <img src="/static/images/client1.jpg" alt="" class="box-img">
              </div> {% endcomment %}
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      {{n.contactq_name}}
                    </h6>
                    <p>
                      {{n.contactq_email}}
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  {{n.contactq_message | safe }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
       
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

  {% endblock content %}